*{
	color:#FBFDFF;
	font-family: 'Ubuntu';
	margin:0;
	padding: 0;
}

/**
	Cabecera,menu & imagen
*/
.cabecera{
	width: 100%;
	background:#091229;
	float: left;
	background:	
}

.cabecera h1{
	width: 13%;
	float: left;
	margin-left:8%;
	margin-top:10px; 
	font-size: 33px;
}

.cabecera nav{
	background:#091229;
	width: 50%;
	float: right;
	font-size: 19px;
}

.cabecera ul{
	margin-left:28%;
}

.cabecera li{
	list-style: none;
	float: left;
	padding: 20px;
}

.cabecera a{
	text-decoration: none;
}

.cabecera li:hover{
	background:#F12C3C;
}

.contenedor-principal{
	width: 100%;
	margin: 0 auto;
}

.parrafo{
	position: absolute;
	text-align: center;
	margin-top: 19%;
	margin-left: 10%;
}	

.parrafo p{
	font-size: 33px;
}

.mas-info{
	margin-top: 20px;
	border:solid 2px #fff;
	border-radius: 10px;
	margin-left: 110px;
	margin-right: 110px;
	padding: 15px;
}
.mas-info:hover{
	background:#091229;
}

.mas-info p{
	font-size: 24px;
}

.mas-info a{
	text-decoration: none;
}

.contenedor-principal img{
	width: 100%;
}
/**
	Fin cabecera & imagen
*/

.contenedor{
	margin-top:-5px;
}

.contenedor article{
	background:#E45932;
	width: 33.33%;
	float: left;
	padding:30px;
	box-sizing:border-box;
	height: 200px;
}

.contenedor article h2{
	text-align: center;
	margin-bottom: 10px;
}
.contenedor article img{
	width:30%;
}

.contenedor article p{
	padding: 10px;
	text-align: center;	
}