*{
	color:#FBFDFF;
	font-family: 'Ubuntu';
	margin:0;
	padding: 0;
}

.cabecera{
	width: 100%;
	background: #E12C2D;
	float: left;
	
}

.cabecera h1{
	width: 13%;
	float: left;
	margin-left:11%;
	margin-top:10px; 
	text-align: center;
}

.cabecera h1:hover{
	text-align: center;
	font-size: 33px;
	text-transform: capitalize;
}

.cabecera nav{
	background: #E12C2D;
	width: 50%;
	float: right;
	font-weight: bold;
}

.cabecera ul{
	margin-left:30%;
}

.cabecera li{
	list-style: none;
	float: left;
	padding: 20px;
}
.cabecera li:hover{
	background:#F12C3C;
}

.contenedor-principal{
	width: 90%;
	margin: 0 auto;
}

.contenedor-principal img{
	width: 100%;
}

.contenedor{
	margin-top:-5px;
}

.contenedor article{
	width: 50%;
	background:peru;
	float: left;
}



